<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Home</a>
        <a class="navbar-brand" routerLink="/persona" routerLinkActive="active" ariaCurrentWhenActive="page">Persona</a>
        <a class="navbar-brand" routerLink="/ciudad" routerLinkActive="active" ariaCurrentWhenActive="page">Ciudad</a>
        <a class="navbar-brand" routerLink="/provincia" routerLinkActive="active" ariaCurrentWhenActive="page">Provincia</a>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>