<h2>
    <span *ngIf="id">Update Provincia</span>
    <span *ngIf="!id">Create Provincia</span>
</h2>

<form class="mt-4" [formGroup]="provinciaFormBuilder" (submit)="onSubmitProvincia($event)">
    <div class="row">
        <div class="col-md-1">
            <input type="number" class="form-control" formControlName="id" hidden>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" formControlName="name">
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert-danger">
                <div *ngIf="name?.errors?.['required']">Name is required</div>
                <div *ngIf="name?.errors?.['minlength']">Min length is 3 words</div>
                <div *ngIf="name?.errors?.['maxlength']">Max length is 150 words</div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 ">
            <button class="btn btn-outline-primary btn-submit">Submit</button>
        </div>
    </div>
</form>